---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Home | test2user-aqil">
	<div class="max-w-3xl mx-auto flex">
		<Hero />
	</div>
</Layout>
