---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Projects | test2user-aqil">
	<Navbar active="projects"/>
    <div class="mx-auto my-4 text-2xl max-w-3xl p-2">This page is still empty </div>
</Layout>
