---

---

<footer class="bg-dark0 text-light1 w-full h-16 flex justify-center items-center font-medium font-mono">
    <div>Copyright &copy; <span id="copyrightYear"></span> test2user-aqil</div>
</footer>

<script>
    document.querySelector('#copyrightYear').textContent = new Date().getFullYear();
</script>