---

---

<footer class="font-display bg-dark0 max-w-3xl h-10 md:rounded-2xl box-shadow flex justify-center items-center font-medium mx-auto mt-4 md:my-4 rounded-none">
    <div>Copyright &copy; <span id="copyrightYear"></span> test2user-aqil</div>
</footer>


<script>
    document.querySelector('#copyrightYear').textContent = new Date().getFullYear();
</script>