---

---

<div class="max-w-3xl mx-1">
    <div class="flex justify-center">
        <img src="/assets/avatar.svg" class="w-28 rounded-full translate-y-10 border-8 border-bg">
    </div>

    <div class="bg-dark0 rounded-2xl box-shadow p-4 pt-16 flex justify-center flex-col items-center">
        <h2 class="text-xl font-semibold font-mono mb-2">test2user-aqil</h2>
        <p class="text-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat illum numquam expedita totam eum, ipsa illo sit accusantium aut itaque hic unde deserunt pariatur ratione tempora repellendus amet molestiae. Aut.</p>
    </div>
</div>