---
export interface Props{
    text: string,
    style?: string
}

const { text, style = "inactive" } = Astro.props as Props;
---


<li class="mr-4 px-3 py-1 rounded nav-link--${style}"><a href="#">{text}</a></li>