---
export interface Props{
  active: string
}

const { active } = Astro.props;
---
<p id="burh0" class="hidden fixed">{active}</p>

<nav class="nav">
  <!--NAV-LINKS-->

  <ul class="flex">

    <li id="home" class="nav-link"><a href="/">Home</a></li>
    <li id="projects" class="nav-link"><a href="/projects">Projects</a></li>
    <li id="about" class="nav-link"><a href="/about">About</a></li>
  
  </ul>

  <!--TITLE-->
  
  <h2 class="font-mono font-semibold text-xl hidden md:flex">test2user-aqil</h2>

</nav>

<script>
  const p = document.getElementById("burh0").textContent;
  document.getElementById(p).classList.add("active");
</script>