---
  import NavLinks from './Nav-links.astro';
---


<nav class="h-16 max-w-3xl bg-dark0 md:rounded-2xl mx-auto md:my-4 mb-4 box-shadow flex md:justify-between justify-center items-center p-4 px-6">
  <NavLinks />
  <h2 class="font-mono font-semibold text-xl hidden md:flex">test2user-aqil</h2>
</nav>